In [34]:
ls

 Le volume dans le lecteur C n'a pas de nom.
 Le num‚ro de s‚rie du volume est F0FE-DB32

 R‚pertoire de C:\Users\ORIGINAL SHOP

23/01/2022  03:31 pm    <DIR>          .
23/01/2022  03:31 pm    <DIR>          ..
24/11/2021  12:32 pm    <DIR>          .android
18/01/2022  01:54 pm            21,798 .babel.json
23/01/2022  01:58 pm             6,377 .bash_history
14/01/2022  11:51 am    <DIR>          .brownie
09/01/2022  02:28 pm    <DIR>          .conda
03/12/2021  04:36 pm                25 .condarc
17/01/2022  11:36 am    <DIR>          .config
03/12/2021  04:36 pm    <DIR>          .continuum
18/01/2022  11:11 pm             1,048 .dbshell
13/01/2022  10:03 pm    <DIR>          .docker
17/01/2022  11:37 am    <DIR>          .electron-gyp
05/01/2022  04:05 pm                65 .gitattributes
27/12/2021  11:01 pm               162 .gitconfig
05/01/2022  04:35 pm               145 .gitignore
23/11/2021  11:09 am    <DIR>          .gradle
20/12/2021  02:35 pm    <DIR>          .hypothesis
23/01/2022  02:47 pm    <DIR>          .idlerc
23/01/2022  02:51 pm    <DIR>          .ipynb_checkpoints
03/12/2021  03:12 pm    <DIR>          .ipython
11/12/2021  12:28 pm    <DIR>          .jupyter
03/12/2021  04:53 pm    <DIR>          .keras
26/12/2021  02:11 pm    <DIR>          .kivy
31/12/2021  11:14 am                20 .lesshst
03/12/2021  04:23 pm    <DIR>          .matplotlib
20/12/2021  02:50 pm                 0 .mongorc.js
10/01/2022  02:53 pm    <DIR>          .msf4
12/01/2022  02:48 pm               251 .node_repl_history
12/01/2022  11:36 pm               879 .python_history
22/12/2021  04:01 pm    <DIR>          .solcx
06/01/2022  08:57 pm    <DIR>          .spyder-py3
17/01/2022  12:02 pm    <DIR>          .ssh
03/12/2021  05:06 pm    <DIR>          .streamlit
03/12/2021  10:46 pm    <DIR>          .thumbnails
31/12/2021  12:21 pm             2,236 .viminfo
16/11/2021  02:15 pm    <DIR>          .vscode
20/12/2021  02:35 pm    <DIR>          .vvm
18/01/2022  01:50 pm               121 .yarnrc
14/12/2021  12:10 pm    <DIR>          ~
23/11/2021  10:54 am             6,890 -1.14-windows.xml
16/11/2021  11:14 pm    <DIR>          3D Objects
14/12/2021  03:32 pm    <DIR>          anaconda3
05/01/2022  04:42 pm    <DIR>          build
09/11/2021  01:22 pm    <DIR>          Contacts
05/01/2022  04:35 pm    <DIR>          contracts
22/01/2022  09:42 pm    <DIR>          Creative Cloud Files
05/12/2021  07:43 pm    <DIR>          csv
19/12/2021  12:39 pm         6,510,722 data.json
13/12/2021  10:45 pm            10,608 Deep learning turorial.ipynb
09/01/2022  11:07 pm    <DIR>          Desktop
22/01/2022  01:37 pm    <DIR>          Documents
23/01/2022  02:39 pm    <DIR>          Downloads
14/01/2022  02:19 am    <DIR>          download-sample-database
18/12/2021  02:07 pm            37,059 download-sample-database.zip
09/11/2021  01:22 pm    <DIR>          Favorites
20/12/2021  02:36 pm               572 hardhat.config.js
05/01/2022  04:05 pm    <DIR>          interfaces
05/12/2021  01:24 pm    <DIR>          Jedi
09/11/2021  01:22 pm    <DIR>          Links
09/11/2021  01:22 pm    <DIR>          Music
20/12/2021  02:37 pm    <DIR>          node_modules
09/11/2021  01:30 pm    <DIR>          OneDrive
23/01/2022  02:23 pm             8,160 OpenCV tutorial.ipynb
20/12/2021  02:37 pm               154 package.json
20/12/2021  02:37 pm           479,064 package-lock.json
04/01/2022  04:44 pm    <DIR>          Pictures
24/11/2021  12:53 pm       297,838,128 postgresql_14.exe
10/12/2021  12:30 pm    <DIR>          Projects
20/12/2021  02:37 pm               467 README.md
05/01/2022  04:05 pm    <DIR>          reports
09/11/2021  01:22 pm    <DIR>          Saved Games
05/01/2022  04:35 pm    <DIR>          scripts
16/11/2021  11:40 pm    <DIR>          Searches
18/01/2022  03:13 pm    <DIR>          stack-overflow-developer-survey-2020
05/12/2021  07:30 pm         9,908,290 stack-overflow-developer-survey-2020.zip
04/12/2021  01:34 am    <DIR>          streamlit vs
11/12/2021  02:44 pm               276 streamlit.py
05/01/2022  04:35 pm    <DIR>          test
05/01/2022  04:05 pm    <DIR>          tests
23/01/2022  03:31 pm            55,630 Untitled2.ipynb
16/11/2021  11:17 pm    <DIR>          Videos
              26 fichier(s)      314,889,147 octets
              56 R‚p(s)   7,957,630,976 octets libres

In [48]:
df2 = pd.read_csv("C:/Users/ORIGINAL SHOP/.ipynb_checkpoints/breast_cancer_dataframe.csv")

In [49]:
df2

,Unnamed: 0,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,target
0,0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,0.0
1,1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,0.0
2,2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,0.0
3,3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,0.0
4,4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,564,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,0.0
565,565,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,0.0
566,566,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,0.0
567,567,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,0.0
568,568,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,1.0

In [52]:
df2.isnull().sum()

Unnamed: 0                 0
mean radius                0
mean texture               0
mean perimeter             0
mean area                  0
mean smoothness            0
mean compactness           0
mean concavity             0
mean concave points        0
mean symmetry              0
mean fractal dimension     0
radius error               0
texture error              0
perimeter error            0
area error                 0
smoothness error           0
compactness error          0
concavity error            0
concave points error       0
symmetry error             0
fractal dimension error    0
worst radius               0
worst texture              0
worst perimeter            0
worst area                 0
worst smoothness           0
worst compactness          0
worst concavity            0
worst concave points       0
worst symmetry             0
worst fractal dimension    0
target                     0
dtype: int64

In [55]:
df2

,Unnamed: 0,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,target
0,0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,0.0
1,1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,0.0
2,2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,0.0
3,3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,0.0
4,4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,564,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,0.0
565,565,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,0.0
566,566,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,0.0
567,567,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,0.0
568,568,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,1.0

In [42]:
df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [3]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("C:/Users/ORIGINAL SHOP/.ipynb_checkpoints/stack-overflow-developer-survey-2020/survey_results_public.csv")

In [11]:
df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [14]:
df.head

<bound method NDFrame.head of        Respondent                                         MainBranch Hobbyist  \
0               1                     I am a developer by profession      Yes
1               2                     I am a developer by profession       No
2               3                        I code primarily as a hobby      Yes
3               4                     I am a developer by profession      Yes
4               5  I used to be a developer by profession, but no...      Yes
...           ...                                                ...      ...
64456       64858                                                NaN      Yes
64457       64867                                                NaN      Yes
64458       64898                                                NaN      Yes
64459       64925                                                NaN      Yes
64460       65112                                                NaN      Yes

        Age Age1stCode CompFreq  CompTotal  ConvertedComp             Country  \
0       NaN         13  Monthly        NaN            NaN             Germany
1       NaN         19      NaN        NaN            NaN      United Kingdom
2       NaN         15      NaN        NaN            NaN  Russian Federation
3      25.0         18      NaN        NaN            NaN             Albania
4      31.0         16      NaN        NaN            NaN       United States
...     ...        ...      ...        ...            ...                 ...
64456   NaN         16      NaN        NaN            NaN       United States
64457   NaN        NaN      NaN        NaN            NaN             Morocco
64458   NaN        NaN      NaN        NaN            NaN            Viet Nam
64459   NaN        NaN      NaN        NaN            NaN              Poland
64460   NaN        NaN      NaN        NaN            NaN               Spain

         CurrencyDesc  ...                  SurveyEase           SurveyLength  \
0       European Euro  ...  Neither easy nor difficult  Appropriate in length
1      Pound sterling  ...                         NaN                    NaN
2                 NaN  ...  Neither easy nor difficult  Appropriate in length
3        Albanian lek  ...                         NaN                    NaN
4                 NaN  ...                        Easy              Too short
...               ...  ...                         ...                    ...
64456             NaN  ...                         NaN                    NaN
64457             NaN  ...                         NaN                    NaN
64458             NaN  ...                         NaN                    NaN
64459             NaN  ...                         NaN                    NaN
64460             NaN  ...                         NaN                    NaN

      Trans                                     UndergradMajor  \
0        No  Computer science, computer engineering, or sof...
1       NaN  Computer science, computer engineering, or sof...
2       NaN                                                NaN
3        No  Computer science, computer engineering, or sof...
4        No  Computer science, computer engineering, or sof...
...     ...                                                ...
64456   NaN  Computer science, computer engineering, or sof...
64457   NaN                                                NaN
64458   NaN                                                NaN
64459   NaN                                                NaN
64460   NaN  Computer science, computer engineering, or sof...

            WebframeDesireNextYear                      WebframeWorkedWith  \
0                     ASP.NET Core                    ASP.NET;ASP.NET Core
1                              NaN                                     NaN
2                              NaN                                     NaN
3                              NaN                                     NaN
4             Django;Ruby on Rails                           Ruby on Rails
...                            ...                                     ...
64456                          NaN                                     NaN
64457                          NaN                                     NaN
64458                          NaN                                     NaN
64459  Angular;Angular.js;React.js                                     NaN
64460          ASP.NET Core;jQuery  Angular;Angular.js;ASP.NET Core;jQuery

                                  WelcomeChange WorkWeekHrs YearsCode  \
0       Just as welcome now as I felt last year        50.0        36
1      Somewhat more welcome now than last year         NaN         7
2      Somewhat more welcome now than last year         NaN         4
3      Somewhat less welcome now than last year        40.0         7
4       Just as welcome now as I felt last year         NaN        15
...                                         ...         ...       ...
64456                                       NaN         NaN        10
64457                                       NaN         NaN       NaN
64458                                       NaN         NaN       NaN
64459                                       NaN         NaN       NaN
64460                                       NaN         NaN       NaN

           YearsCodePro
0                    27
1                     4
2                   NaN
3                     4
4                     8
...                 ...
64456  Less than 1 year
64457               NaN
64458               NaN
64459               NaN
64460               NaN

[64461 rows x 61 columns]>

In [15]:
df.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [17]:
df.tail()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [19]:
df.shape

(64461, 61)

In [5]:
df.describe()

         Respondent           Age      CompTotal  ConvertedComp   WorkWeekHrs
count  64461.000000  45446.000000   3.482600e+04   3.475600e+04  41151.000000
mean   32554.079738     30.834111  3.190464e+242   1.037561e+05     40.782174
std    18967.442360      9.585392            inf   2.268853e+05     17.816383
min        1.000000      1.000000   0.000000e+00   0.000000e+00      1.000000
25%    16116.000000     24.000000   2.000000e+04   2.464800e+04     40.000000
50%    32231.000000     29.000000   6.300000e+04   5.404900e+04     40.000000
75%    49142.000000     35.000000   1.250000e+05   9.500000e+04     44.000000
max    65639.000000    279.000000  1.111111e+247   2.000000e+06    475.000000

# Pre-Process Data

In [33]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [16]:
df.corr()

               Respondent       Age  CompTotal  ConvertedComp  WorkWeekHrs
Respondent       1.000000 -0.026741   0.000000      -0.005805    -0.003330
Age             -0.026741  1.000000   0.044234       0.107002     0.050245
CompTotal        0.000000  0.044234        NaN       0.000000    -0.000000
ConvertedComp   -0.005805  0.107002   0.000000       1.000000     0.032612
WorkWeekHrs     -0.003330  0.050245  -0.000000       0.032612     1.000000

In [18]:
df.corr()['Age']

Respondent      -0.026741
Age              1.000000
CompTotal        0.044234
ConvertedComp    0.107002
WorkWeekHrs      0.050245
Name: Age, dtype: float64